<%= form_for(OrderItem.new, url: company_order_items_path) do |f| %>
  <%= f.hidden_field :order_id, value: @order.id %>

  <!-- TODO: Must be giftcard.subtype instead of hardcoded value -->
  <%= f.hidden_field :subtype, value: "regular" %>
  <div class="add-item__content">
  <h2>Välj antal och typ av gåvobevis</h2>
  <%= giftcardId ||= local_assigns[:giftcardId] %>
  Vi vill ha
  <%= f.number_field :product_quantity, min: 1, max: 50, value: 1, class: "add-item__input--product_quantity", required: true %>
  <%= f.select :product,{}, {}, { class: "add-item__input--product" } do %>
    <%= options_for_select([["Digitalt gåvobevis", "DigitalCard"]]) %>
  <% end %>

  <%= description ||= local_assigns[:description] %>

  <div class="add-item__cards">
    <div data-card="" class="add-item__card selected" data-subtype="regular-company">
      <div class="add-item__card-title">Standard</div>
      <div class="add-item__card-image">
        <%= image_tag local_assigns[:previewImageSe] %>
      </div>
    </div>
    <div data-card="" class="add-item__card" data-subtype="regular-company-english">
      <div class="add-item__card-title">Standard - Engelska</div>
      <div class="add-item__card-image">
        <%= image_tag local_assigns[:previewImageEn] %>
      </div>
    </div>
  </div>

  <br>
  Gåvobevis á
  <%# This should be done in a better way %>
  <% if quantity == "custom" %>
    <%= f.number_field :quantity, min: 1, max: 100000, id: "new_custom_amount", class: "add-item__input--quantity" %>
  <% else %>
    <%= f.hidden_field :quantity, value: quantity %>
    <%= quantity %>
  <% end %>
  kr
  </div>
  <footer class="add-item__footer">
    <%= f.submit "Lägg i varukorgen", class: "btn btn-primary" %>
    <p class="text-muted mt-3">
      <small>Har du frågor kring gåvobevis kontakta oss på <a href="mailto:infocorporate@wateraid.se">infocorporate@wateraid.se</a></small>
    </p>
  </footer>
<% end %>
<a class="close-reveal-modal" aria-label="Stäng">&#215;</a>
