<div class="footer-links">
  <%= link_to "Beställ som privatperson", root_path, class: 'button-pill' %>
  <%= link_to "Beställ som företag", company_path, class: 'button-pill' %>
</div>
<div class="footer-links">
  <%= link_to "Gör så här", info_path, class: 'button-pill' %>

  <%= link_to "Frågor och svar", help_path, class: 'button-pill' %>

  <%= link_to "Tidigare beställningar", customers_path, class: 'button-pill' %>
</div>
<div class="footer-links">
  <%= link_to "Till wateraid.se", 'http://www.wateraid.se', class: 'button-pill', :target => "_blank", :rel => "noopener"  %>
</div>
