<%= form_for([:customer, card], url: customer_card_path, as: :card, :html => { :class => 'card-form' }, :data => {'parsley-validate' => '' }) do |f| %>
  <%= render('shared/error_messages', object: card) %>

  <%= f.hidden_field :form_type %>
  <%= hidden_field_tag :payment_type, @card.order.payment_type %>

  <div class="card-form__options">
    <div class="card-form__type__digital">
      <div class="card-form__heading">
        <h2>
          <% if card.form_type == 'company' %>
            Skicka material till:
          <% else %>
            Skicka gåvobeviset till:
          <% end %>
        </h2>
      </div>
      <!-- / .card-form__type__digital__heading -->

      <div class="card-form__type__digital__options card-form__content">

        <div class="form-item">
          <div>
            <%= f.radio_button(:send_to_donor, :true, class: 'card-form__deliver-to') %>
            <%= f.label :send_to_donor, 'Mig själv', value: true, class: 'label--inline' %>
          </div>
          <div>
            <%= f.radio_button(:send_to_donor, :false, class: 'card-form__deliver-to') %>
            <%= f.label :send_to_donor, 'Annan mottagare', value: false, class: 'label--inline' %>
          </div>
        </div>
        <!-- / .card-form__send-to -->

        <div class="form-item card-form__recipient">
          <h4><%= f.label :receiver, 'Mottagarens e-postadress' %></h4>
          <%= f.email_field(:receiver, class: 'card-form__to', :data => {'parsley-type' => 'email', 'parsley-required' => '', 'parsley-required-message' => 'Gåvobeviset måste ha en mottagare.'}) %>
          <div class="card-form__to-suggestion"></div>
        </div>

        <div class="form-item">
          <h4><%= f.label :text, 'Hälsning och vem gåvan är ifrån' %></h4>
          <%= f.text_area(:text, class: 'card-form__message', :maxlength => 400, :placeholder => '', :data => {'parsley-required' => '', 'parsley-required-message' => 'Glöm inte att skriva en hälsning!'}) %>
        </div>

        <div class="form-item">
          <h4><%= f.label :send_at, 'När ska det skickas?' %></h4>
          <%= f.date_field(:send_at, class: 'card-form__send-at', placeholder: 'Välj ett datum') %>
          <div class="form-item__description">
            <% if card.form_type == 'company' %>
              Sker inget val av datum skickas gåvobeviset efter 5 minuter.
            <% else %>
              Om du inte väljer ett datum skickas det efter 5 minuter.
            <% end %>
          </div>
        </div>

        <% if card.form_type == 'company' %>
          <p class="card-form__company-package-info">* = Gåvopaketet innehåller: Gåvokort i PDF med möjlighet att justera hälsning, webbanner, mejlavsändare och Profil badge att använda på er Facebook-sida.</p>
        <% end %>
      </div>
      <!-- / .card-form__type__digital__options -->
    </div>
    <!-- / .card-form__type__digital -->
  </div>
  <!-- / .card-form__options -->

  <div class="card-form__footer">
    <div class="card-form__actions">
      <% if card.receiver.blank? %>
        <%= f.submit "Skapa", class: "card-form__submit card-form__submit--update" %>
      <% else %>
        <%= link_to "Tillbaka", customer_path(@customer.token), class: "card-form__cancel" %>
        <%= f.submit "Spara", class: "card-form__submit card-form__submit--update" %>
      <% end %>
    </div>
    <!-- / .card-form__actions -->
  </div>
  <!-- / .card-form__footer -->
<% end %>
