<h2>Varukorg</h2>
<table class="order__items">
  <thead>
    <tr>
      <th width="80px">Antal</th>
      <th>Typ</th>
      <th width="120px">Kostnad</th>
      <th width="25px"></th>
    </tr>
  </thead>

  <% unless order.empty? %>
    <tfoot>
      <tr>
        <td></td>
        <td style="text-align: right">Totalt:&nbsp;</td>
        <td><%= order.calculate_total %> kr</td>
        <td></td>
      </tr>
    </tfoot>
  <% end %>

  <tbody>
    <%= form_for(order) do |f| %>
      <%= f.fields_for :order_items do |item| %>
        <tr>
          <td><%= item.number_field :product_quantity %></td>
          <td>
            <%= order_item_title(item.object) %>
            á <%= item.object.quantity %> kr
          </td>
          <td><%= item.object.price %> kr</td>
          <td><%= link_to "&#215;".html_safe, item.object, method: :delete %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<% if order.has_digital_cards? %>
  <p><em>Du skapar dina digitala gåvobevis efter att betalningen är genomförd.</em></p>
<% end %>

<footer class="cart__footer">
    <%= f.submit "Uppdatera varukorgen", class: "button" %>
    <% if order.order_items.count > 7 %>
      <br><%= link_to "Töm varukorgen", order, method: :delete, class: "cart__footer__delete" %>
    <% end %>
<% end %>
</footer>

<!-- <%= render "shared/extra_amount_form" %> -->
