<% title "Frågor och svar" %>
<% description "Vanliga frågor och svar för gåvoshopen." %>

<main class="page" role="main">
  <article>
    <h1 class="page__title">Frågor och svar</h1>

    <ul class="faq__questions">
      <li>
        <a href="#q-vatten-sanitet">Varför vatten och sanitet?</a>
      </li>
      <li>
        <a href="#q-vad-gar-gavan-till">Vad går min gåva till?</a>
      </li>
      <li>
        <a href="#q-inte-fatt-digitalt-mail">Jag har inte fått mitt digitala gåvobevis eller ett bekräftelsemail?</a>
      </li>
      <li>
        <a href="#q-inget-betalkort">Jag vill inte använda mitt betal- eller kreditkort. Hur gör jag då?</a>
      </li>
      <li>
        <a href="#q-vad-ar-wateraid">Vad är WaterAid för en organisation?</a>
      </li>
      <li>
        <a href="#q-vad-innebar-90konto">Vad innebär det att WaterAid har 90-konto?</a>
      </li>
      <li>
        <a href="#q-betalning-kort">Betalning via betalkort-eller kreditkort</a>
      </li>
      <li>
        <a href="#q-tid-tryckt">Hur lång tid tar det att få sitt tryckta gåvobevis?</a>
      </li>
      <li>
        <a href="#q-skicka-till-van">Kan mitt gåvobevis skickas direkt till min vän?</a>
      </li>
      <li>
        <a href="#q-gavobevis-andra-sprak">Kan jag få gåvobevisen på ett annat språk än svenska?</a>
      </li>
      <li>
        <a href="#q-foretag-logo">Kan vi få företagets logotyp på gåvobevisen?</a>
      </li>
      <li>
        <a href="#q-betalning-rekvisition">Betalning via rekvisition</a>
      </li>
      <li>
        <a href="#q-kontakta-wateraid">Hur kontaktar jag WaterAid?</a>
      </li>
    </ul>

    <hr>

    <p>
      <%= link_to 'Ge en gåva - privatpersoner', root_path, class: 'button'%>
    </p>

    <p>
      <%= link_to 'Ge en gåva - företag', company_path, class: 'button'%>
    </p>

    <hr>

    <div class="faq__question">
      <h2 id="q-vatten-sanitet" class="faq__question__title">Varför vatten och sanitet?</h2>
      <p>Rent vatten och sanitet är förutsättningar för hälsa, utbildning och försörjning. Utan rent vatten eller tillgång till toaletter fastnar människor i en ond cirkel av fattigdom och sjukdom. Trots detta lever idag 844 miljoner människor utan tillgång till rent vatten och 2,3 miljarder människor har inte tillgång till en toalett. Detta resulterar i att främst kvinnor och barn förlorar dyrbar tid på att hämta vatten och att runt 800 barn dör varje dag av förebyggbara diarrésjukdomar orsakade av smutsigt vatten och dålig sanitet. Rent vatten och sanitet hjälper hela samhällen att ta första steget ut ur fattigdom.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-vad-gar-gavan-till" class="faq__question__title">Vad går min gåva till?</h2>
      <p>Ditt bidrag går till att förse de allra fattigaste människorna med praktiska och hållbara vatten-sanitets- och hygienlösningar som uppfyller deras behov. Tekniska lösningar såsom vattenkranar och latriner är alltid uppbackade av utbildning om god hygien för att se till att hälsoeffekterna av rent vatten och sanitet maximeras. Tillgång till rent vatten, toaletter och kunskap i hygien håller fler familjer friska. Det bidrar till att fler barn överlever och går klart skolan samt att kvinnor och flickor kan känna sig säkra. Tillgång till rent vatten, toaletter och kunskap i hygien förändrar liv.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-inte-fatt-digitalt-mail" class="faq__question__title">Jag har inte fått mitt digitala gåvobevis eller ett bekräftelsemail?</h2>
      <p>Om du inte har fått mailen från WaterAid så ber vi dig att kontrollera att det inte har hamnat i skräpkorgen i din inkorg. En del ”spamfilter” är stränga mot nya avsändare som de inte känner igen.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-inget-betalkort" class="faq__question__title">Jag vill inte använda mitt betal- eller kreditkort. Hur gör jag då?</h2>
      <p>Då kan du istället betala via vårt plusgiro. Vi skickar då hem ett tryckt gåvobevis till dig. PG 90 01 62-9. Minsta belopp för ett gåvobevis är 50 kr.</p>
      <p>Ange: Ditt namn, din adress och totalasumman. Märk inbetalningen med ”gåvobevis”. För det tryckta gåvobeviset ger du en extra gåva på 30 kr (tryck+ portokostnad) Tänk på att det tar ett par dagar för din betalning att synas hos oss, därför kan leveranstiden bli ca 7 arbetsdagar.</p>
      <p>Du kan även SMS:a <strong>GÅVOBEVIS</strong> till <strong>72980</strong> (200kr). Då får du en länk till ett digitalt gåvobevis via SMS som du kan skicka till någon via e-post.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-vad-ar-wateraid" class="faq__question__title">Vad är WaterAid för en organisation?</h2>
      <p>WaterAid är en internationell organisation som startade i Storbritannien 1981. Idag arbetar vi i 35 länder världen över. I Sverige arbetar WaterAid med insamling för att kunna säkerställa att människor i världens fattigaste samhällen får tillgång till vatten, toaletter och utbildning i hygien. Vi arbetar även med informationsarbete till allmänheten och påverkansarbete mot beslutsfattare i Sverige och globalt för att vatten- och sanitetsfrågan ska prioriteras. WaterAids vision är en värld där alla har tillgång till rent vatten och sanitet.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-vad-innebar-90konto" class="faq__question__title">Vad innebär det att WaterAid har 90-konto?</h2>
      <p>WaterAid är innehavare av ett kontrollerat 90-konto som beviljas av Svensk Insamlingskontroll. Svensk Insamlingskontroll ser till att pengar som samlas in gör det under betryggande kontroll. Innehavaren av 90-konto granskas av Svensk Insamlingskontroll och garanterar att minst 75 % av insamlade medel går till ändamålet. Mer information finns på <a href="http://www.insamlingskontroll.se" target="_blank" rel="noopener noreferrer">insamlingskontroll.se</a>.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-betalning-kort" class="faq__question__title">Betalning via betal- eller kreditkort</h2>
      <p>Vid betalning med betal- eller kreditkort, kan du endast använda Visa, MasterCard eller American Express.</p>
    </div>


    <div class="faq__question">
      <h2 id="q-tid-tryckt" class="faq__question__title">Hur lång tid tar det att få sitt tryckta gåvobevis?</h2>
      <p>Vi skickar gåvobevisen med B-post och leveranstiden är ca 4 arbetsdagar. Under december månad skickar vi ut beställningarna med A-post. Då är leveranstiden ca 2 arbetsdagar. Om du väljer ett digitalt gåvobevis så levereras det direkt till den du väljer som mottagare.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-skicka-till-van" class="faq__question__title">Kan mitt gåvobevis skickas direkt till min vän?</h2>
      <p>Ja, om du väljer det digitala gåvobeviset. Det tryckta gåvobeviset skickar vi hem till dig. Gåvobeviset levereras med ett kuvert och det finns plats att skriva en personlig hälsning för hand.</p>
    </div>
    <div class="faq__question">
      <h2 id="q-gavobevis-andra-sprak" class="faq__question__title">Kan jag få gåvobevisen på ett annat språk än svenska?</h2>
      <p>Du kan få ett gåvobevis på engelska. Beställ då ett digitalt gåvobevis. Sedan kontaktar du oss via e-post på <a href="mailto:info@wateraid.se">info@wateraid.se</a> eller på telefon <a href="tel:+4686773070">08-677 30 70</a> och talar om att du vill ha ett gåvobevis på engelska. Detta gåvobevis skickas som en pdf till din epostadress. Du kan skriva en egen text i gåvobeviset innan du skriver ut det.</p>
      <p>Som företag kan ni välja att beställa ett gåvobevis på engelska i digital form i gåvoshopen. Ni kan skriva en egen text i gåvobeviset som kan mailas eller printas. </p>
   </div>
   <div class="faq__question">
      <h2 id="q-foretag-logo" class="faq__question__title">Kan vi få företagets logotyp på gåvobevisen?</h2>
      <p>Nej, det är tyvärr inte möjligt att få ert företags logotyp på gåvobeviset. Däremot kan ni skriva valfri text i gåvobeviset och skicka det till er själva. Länken kan ni sedan enkelt skicka med e-post till kunder och anställda.</p>
    </div>

    <div class="faq__question">
      <h2 id="q-betalning-rekvisition" class="faq__question__title">Betalning via rekvisition</h2>
      <p>Väljer ert företag att få en rekvisition som underlag för er betalning, så skickas den via e-post till den person som anges vid beställningen. Minsta belopp för rekvisition är <%= number_with_delimiter(Order::INVOICABLE_MINIMUM, delimiter: ' ') %> kr.</p>
    </div>

    <div class="faq__question">
      <h2 id="q-kontakta-wateraid" class="faq__question__title">Hur kontaktar jag WaterAid?</h2>
      <p>Vardagar mellan 9-16.<br>
         Lunchstängt 12-13.<br>
         Telefon: 08-677 30 70<br>
         E-post privata gåvor: <%= mail_to 'info@wateraid.se' %><br>
         E-post företagsgåvor: <%= mail_to 'infocorporate@wateraid.se' %>
      </p>
    </div>

  </article>
</main>
