<div class="digital-card xmas">

  <!--
    <div class="row">
      <div class="column">
  -->
  <div class="digital-card-header">
    <h2 class="digital-card-header__title">God Jul</h2>
  </div>
  <!--
      </div>
    </div>
  -->

  <div class="row digital-card-content">
    <div class="digital-card-content__message">
      <p>Ibland är det svårt att hitta rätt julklapp. Ibland är det väldigt lätt. Vår julgåva går i år till
      att hjälpa de 844 miljoner människor på vår jord som inte har tillgång till rent vatten.
      Med denna gåva skänker vi liv, hopp och framtidstro på de platser där det behövs som allra mest.</p>
    </div>

    <div class="digital-card-content__generated">
      <%= simple_format(h(@card.text)) %>
    </div>
  </div>

  <div class="digital-card-footer">
    <%= image_tag "wateraid-logo.png" %>
    <small>
      WaterAid är en internationell oberoende organisation som jobbar för att förändra människors liv genom att förbättra tillgången till rent vatten, bättre hygien och sanitet i världens fattigaste samhällen. Läs mer på <a href="www.wateraid.se" target="_self">www.wateraid.se</a><span><!-- --></span>
     </small>
  </div>

</div>


<!--
<div class="card-info">
  <div class="card-info__content">
    <p>Du har fått ett gåvobevis från WaterAid.<br>Lorem ipsum</p>
    <%= link_to "Så fungerar det", info_path, class: 'button' %>
<%= link_to "Ge en gåva", root_path, class: 'button' %>
  </div>
</div>
-->

<!--
<footer class="footer footer--card">
  <div class="footer-content">
    <%#= render 'shared/footer_links' %>
<%= render 'shared/footer_registration' %>
  </div>
</footer>
-->
