<p id="notice"><%= notice %></p>

<h1>Listing Giftcards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>In which store</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giftcards.each do |giftcard| %>
      <tr>
        <td><%= giftcard.name %></td>
        <td><%= giftcard.description %></td>
        <td><%= giftcard.category %></td>
        <td><%= giftcard.in_which_store %></td>
        <td><%= giftcard.amount %></td>
        <td><%= link_to 'Show', giftcard %></td>
        <td><%= link_to 'Edit', edit_giftcard_path(giftcard) %></td>
        <td><%= link_to 'Destroy', giftcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giftcard', new_giftcard_path %>
